.grid {
    display: grid;
    gap: 20px;
  
    grid-template-areas:
      "C C C C  B B B B"
      "F F F F  B B B B"
      "F F F F  B B B B"
      "F F F F  B B B B"
      "F F F F  B B B B";
  }


  .widget-controls {
    grid-area: C;
  }
  .widget-form {
    grid-area: F;
  }
  .widget-preview {
    grid-area: B;
  }
  .widget-empty {
    grid-area: E;
  }
  

  /* Ensure all form elements including inputs, textarea, and select boxes do not exceed their parent container's width */
  .widget input[type="text"],
  .widget input[type="number"],
  .widget textarea,
  .widget select {
    box-sizing: border-box; /* Include padding and border in the element's width */
    width: 100%; /* Use full width of the parent container */
    padding: 8px; /* Provide padding for content inside the elements */
    margin-top: 5px; /* Space between label and input */
    margin-bottom: 15px; /* Space between inputs */
    border: 1px solid #ccc; /* Standard border for visibility and design */
  }
  
  
  .widget-form button:hover {
    background-color: #45a049; /* Slightly darker green on hover for feedback */
  }
  
  
  .widget {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .name-input {
    height: 35px;
}

.description-input {
    height: 400px;
    resize: both;
    overflow: auto;
}