.asteriskField {
  display: none;
}

.custom-textarea {
  height: auto !important;  /* This will allow the textarea to respect the rows attribute */
}

body {
  overflow-x: hidden; /* Prevent horizontal scroll */
}
.offcanvas-start {
  width: 250px; /* Adjust the width as needed */
}
.sidebar {
  display: none; /* Hide sidebar by default */
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  z-index: 1040; /* Ensure sidebar is above other content */
  padding-top: 58px; /* Adjust based on navbar height */
}
.sidebar .nav-link {
  color: #fff;
}
.main-content {
  flex: 1;
  padding: 1rem;
}

