<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} <!-- Title Name -->  #}{% endblock %}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'hub/css/styles.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="navbar">
      <a class="nav-item" href="#mail">Mail</a>
      <a class="nav-item" href="#contacts">Contacts</a>
      <a class="nav-item" href="#calendar">Calendar</a>
    </div>
    {% block content %}<!-- Page content   -->{% endblock %}
  </body>
</html>
