<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hub/css/styles.css' %}" />
  </head>

  <body>
    <div id="upload_box">
      <!-- Navigation tabs -->
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Upload')">
          Upload
        </button>
        <button class="tablinks" onclick="openTab(event, 'Preview')">
          Preview
        </button>
        <button class="tablinks" onclick="openTab(event, 'Results')">
          Results
        </button>
      </div>

      <!-- Tab content for Upload -->
      <div id="Upload" class="tabcontent">
        <div id="drop_zone">Drag files here</div>
        <input type="file" id="file_input" multiple style="display: none" />
        <button id="submit_btn">Remove Background</button>
      </div>
      <div id="Preview" class="tabcontent">
        <div id="images_preview" class="images_container"></div>
      </div>

      <!-- Tab content for Results -->
      <div id="Results" class="tabcontent">
        <div id="results_preview" class="images_container"></div>
      </div>
    </div>
    <script src="{% static 'hub/js/main.js' %}"></script>
  </body>
</html>
