{% extends "hub/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block extra_css %}

{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container my-4" id="listing-form">
    <div class="p-3 mb-3" style="min-height: 450px;">
        {% csrf_token %}
        {% crispy listing_form %}
    </div>
    <div class="p-3 mb-3">
        {% include 'hub/components/gallery.html' %}
    </div>
    <div class="p-3 mb-3">
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui/1.12.1/jquery-ui.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="module" src="{% static 'hub/js/pages/panel2.js' %}"></script>
{% endblock %}
