{% extends "hub/base.html" %} {% load static %} {% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'hub/css/settings.css' %}"
/>

{% endblock %} {% block title %} Home {% endblock %} {% block content %}
<div class="content grid">
  <div class="widget widget-controls">
    <select id="template-selector">
      <option value="new">New template</option>
      {% for template in templates %}
      <option value="{{ template.name }}">{{ template.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="widget widget-form">
    <form method="post">
      {% csrf_token %}
      <p>{{ form.name.errors }}{{ form.name.label_tag }} {{ form.name }}</p>
      <p>{{ form.description.label_tag }} {{ form.description }}</p>

      <select id="fields" name="fields">
        <!-- options will be added here dynamically -->
      </select>
      <button type="button" id="markup-button">Dodaj Znacznik</button>
      <button type="button" id="delete-button">Usuń Szablon</button>
      <button type="submit">Dodaj Szablon</button>
    </form>
  </div>
  <div class="widget widget-preview">
    <div class="preview-container">
      <input type="text" value="Podgląd" id="preview" disabled/>
    </div>
  </div>
</div>
<script src="{% static 'hub/js/settings.js' %}"></script>
{% endblock %}
