{% load static %}

<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="{% static 'images/logo.png' %}" alt="Logo" width="64" height="64">
      <span class="fs-4">AttireKeeper</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="#" class="nav-link link-dark">
          <i class="bi me-2 bi-speedometer2" style="height: 16px; width: 16px;"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="{% url 'upload' %}" class="nav-link link-dark">
          <i class="bi me-2 bi-upload" style="height: 16px; width: 16px;"></i>
          Upload
        </a>
      </li>
      <li>
        <a href="{% url 'purchases' %}" class="nav-link link-dark">
          <i class="bi bi-basket me-2" style="height: 16px; width: 16px;"></i>
          Purchases
        </a>
      </li>
      <li>
        <a href="{% url 'items' %}" class="nav-link link-dark">
          <i class="bi me-2 bi-grid" style="height: 16px; width: 16px;"></i>
          Items
        </a>
      </li>
      <li>
        <a href="{% url 'templates' %}" class="nav-link link-dark">
          <i class="bi me-2 bi-columns-gap" style="height: 16px; width: 16px;"></i>
          Templates
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <i class="bi me-2 bi-people" style="height: 16px; width: 16px;"></i>
          Customers
        </a>
      </li>
    </ul>
  </div>