{% extends "hub/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block extra_css %}

{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container p-3 mb-3" style="min-height: 450px;">
        {% crispy listing_form %}
    </div>


{% endblock %}

{% block extra_js %}

<p style="display: none;" id="photos-data">{{ listing_dict|safe }}</p>

<script type="module" src="{% static 'hub/js/pages/upload.js' %}"></script>
<script>
    function setFormAction(actionUrl) {
        var form = document.getElementById('id-listing-form');
        form.action = actionUrl;
        console.log(form.action);
    }
</script>
{% endblock %}